:root {
  --background-color-dark: 0, 0%, 12%;
  --primary: 207, 61%, 59%;
  --secondary: 0, 44%, 30%;
  --accent: 104, 65%, 53%;
  --info: 179, 78%, 42%;
  --text: 0, 33%, 94%;
  --muted-light: 210, 14%, 90%;
  --muted: 210, 14%, 53%;
  --muted-dark: 210, 14%, 23%;
  --danger: 0, 70%, 46%;
  --console-success: 151, 96%, 55%;
  --console-danger: 359, 75%, 42%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  color: white;
  background-color: hsl(var(--background-color-dark));
  padding: 0.25rem;
  border-radius: 5px;
}
ol, ul {
  line-height: 1rem;
  margin-left: 1.5rem;
}
li {
  line-height: 2rem;
}
a {
  all: unset;
  cursor: pointer;
}
button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Hack Nerd Font Mono';
  src: url('/static/fonts/HackNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: hsl(var(--muted-light));
  height: 100vh;
  font-family: sans-serif;
}
#content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  background-color: hsl(var(--muted-light));
}
.inner-content-container {
  background-color: white;
  padding: 1rem;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3); /* shadow inside */
  height: 90%;
  max-height: 90%;
  overflow: auto;
}
.nav {
  display: flex;
  position: relative;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 2rem;

  .go-home {
    border-radius: 5px;
    position: absolute;
    padding: 0.125rem;
    top: 0;
    left: 0;
    height: 32px;
    svg {
      height: 100%;
    }
    &:hover {
      background-color: hsl(var(--muted));
    }
  }
}

#lesson {
  padding: 2rem;
  color: black;
  max-height: 100vh;
  overflow: hidden;
}

.lesson-content {
  tab-size: 2rem;
  white-space: pre-wrap;
  p {
    line-height: 2rem;
  }
}

.unit-title {
  color: hsl(var(--muted));
}

#editor-console-pane {
  display: grid;
  grid-template-rows: 2fr 1fr;
  font-family: 'Hack Nerd Font Mono', monospace;
  font-size: 24px;
  color: hsl(var(--text));
  height: 100%;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.content-item {
  width: 100%;
  height: 100%;
}

#editor {
  background-color: hsl(var(--background-color-dark));
  max-height: 66.66vh;
  max-width: 57.25vw;
  overflow: auto;
  margin-right: 5rem;
}
#console {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  overflow: hidden;
  overflow-x: auto;

  #console-titlebar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    height: 2.5rem;
    background-color: hsl(var(--muted));
    padding: 0.25rem;
    padding-inline: 2rem;
  }
  .buttons {
    display: flex;
    gap: 0.5rem;
    &.right {
      justify-content: flex-end;
    }
    &.left {
      justify-content: flex-start;
    }
  }
  .spacer {
  }
  .text-box {
    overflow-y: auto;
    padding: 0.5rem;
    width: 100%;
    max-width: 55vw;
  }
}
.console-result {
  &.passed {
    color: hsl(var(--console-success));
  }
  &.failed {
    color: hsl(var(--console-danger));
  }
}
#title {
  margin: auto;
}
.button {
  font-size: 1.5rem;
  cursor: pointer;
  padding-inline: 1rem;
  height: 2rem;
  color: black;
  background-color: hsl(var(--accent));
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(var(--background-color-dark), 0.5);
  user-select: none;

  &[disabled] {
    cursor: default;
    background-color: hsl(var(--muted-dark)) !important;
  }
  svg {
    pointer-events: none;
    height: 100%;
    aspect-ratio: 1/1;
  }
  &.run {
    background-color: hsl(var(--info));
  }
  &.prev {
    background-color: hsl(var(--muted));
  }
}


.console-error {
  color: red;
}
.fakestring {
  color: #ce9178;
  font-family: monospace;
  background-color: black;
  padding: 0.25rem;
  border-radius: 5px;
}
span.emph {
  color: hsl(var(--primary));
}
span.white {
  color: white;
}
span.note {
  display: block;
  padding: 1rem;
  background-color: hsl(var(--muted-light));
}

.table-of-contents {
  background-color: white;
  border: 1px solid hsl(var(--muted-dark));
  width: 90%;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
}
.unit-data {
  display: flex;
  font-size: 1.25rem;
}

.unit-lessons {
  margin-left: 2rem;
}
.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.toc-lesson {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  gap: 1rem;
  color: black;
  max-height: 100vh;
  &:hover {
    background-color: hsl(var(--muted-light));
  }
}
.lesson-status {
  height: 1.5em;
}
